{{ define "main" }}
  {{ partial "page-header" . }}

  <!-- Current Members Section -->
  <section class="section">
    <div class="container">
      <h2 class="h3 mb-8">Current Members</h2>
      <div class="row">
        {{ range .RegularPages }}
          {{ if not .Params.alumni }}
            <div class="md:col-6 lg:col-4 mb-14">
              {{ partial "components/author-card" . }}
            </div>
          {{ end }}
        {{ end }}
      </div>
    </div>
  </section>

  <!-- Alumni Section -->
  <section class="section">
    <div class="container">
      <h2 class="h3 mb-8">Alumni</h2>
      <div class="row">
        {{ range .RegularPages.Reverse }}
          {{ if .Params.alumni }}
            <div class="md:col-6 lg:col-4 mb-14">
              {{ partial "components/author-card" . }}
            </div>
          {{ end }}
        {{ end }}
      </div>
    </div>
  </section>
{{ end }}
